* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.reveal {
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.6s ease-out;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

#navbar{
    z-index: 1000;
    top: 0;
    position: fixed;
    width: 100%;
    background-color: black;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* Saat paling atas → solid */
#navbar.solid {
  color: white;
}

/* Saat scroll → transparan + blur */
#navbar.transparent {
  background-color: rgba(0, 0, 0, 0.3); /* hitam transparan */
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px); /* Safari */
  color: white;
}

#container-navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 5px;
}
.alice-regular {
    font-family: "Alice", serif;
    font-weight: 400;
    font-style: normal;
}
#logo-mobile{
    display: none;
}
#menu {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-left: 10px;
}
#menu a{
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 0;
}
.button a{
    text-decoration: none;
}
#menu a:hover{
    color: #b99158;
}
#logo{
    width: 100%;
    text-align: center;
    align-items: center;
}
#logo img{
    width: 50%;
    height: auto;
}
#contact{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 10px;
}

svg{ 
    cursor: pointer;
    stroke: #ffffff;
    transition: stroke 0.3s ease;
}
svg:hover {
  stroke: #b99158;
}
body{
    margin: 0;
}
/* BANNER */
.card-desc{
    position: absolute;
    top: 100px;
    left: 80px;
    z-index: 100;
    width: 280px;
    height: auto;
    border: 1px solid transparent;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3); /* hitam transparan 50% */
    backdrop-filter: blur(1px); /* efek blur */
}

.card-desc h3{
    width: 100%;
    color: #ffffff;
    text-align: center;
}
.card-desc p{
    font-size: 1em;
    font-weight: 500;
    color: #ffffff;
}
.card-desc button{
    width: 100%;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: #bbbbbb;
    padding: 10px 20px 10px 20px;
}

.card-desc button:hover{
    background-color: black;
    color: #ffffff;
}

.img-banner{
    background-color: rgb(156, 156, 156);
    width: 100%;
    height: 750px;
}
.img-banner video{
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block; 
}

.about{
    width: 100%;
    padding:100px 80px 100px 80px ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#about-img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 20px 0;
}
#about-img img{
    max-width: 100%;
    height: 550px;
    object-fit: cover; 
    display: block; 
    border-radius: 20px;
}
#about-desc{
    width: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 25px;
}

#about-desc h1{
    font-weight:bolder;
    width: 200px;
}
#about-desc p{
    font-weight: 500;
    width: 80%;
}

#article-home{
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

#article-home img{
    width: 450px;
    height: 550px;
    object-fit: cover; 
    display: block; 
    border-radius: 20px;
}
#article-home p{
    width: 450px;
    font-weight: 500;

}
#article-home h1{
    width: 450px;
    font-weight:bolder;
}

#article-home button{
    width: 100%;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: black;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
}

#article-home button:hover{
    background-color: #bbbbbb;
    color: black;

}
#column{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.product-home{
    margin: 200px 0 200px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.product-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: transform 0.4s ease-in-out;
    gap: 30px;
}
.product-home .product{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.card-product{
    position: relative;
    color: white;
    width:fit-content;
    transition: filter 2s ease;

}

.card-product img{
    width: 400px;
    height: 500px;
    /* width: 100%; */
    object-fit: cover; 
    display: block; 
    border-radius: 10px;
    cursor: pointer;
}
.card-product .desc{
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    width: 400px;
    height: 500px;
    position: absolute;
    z-index: 10;
    top: 0;
    /* margin-top: -500px; */
    padding: 20px;
    transition: opacity 0.5s ease, visibility 0.5s;
    cursor: pointer;


}
.card-product:hover .desc{
    opacity: 1;
    visibility: visible;
}

.card-product p{
    font-size: small;
}
.desc #btn{
    width: 100%;
    text-align:end;
}
.desc-bottom #btn button {
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    background-color: transparent;
    padding: 5px 10px 5px 10px;
}

.desc-bottom #btn button:hover{
    background-color: white;
    color: black;

}
.product-home h1{
    width: 500px;
    text-align: center;
}
.product h3{
    width: 100%;
    text-align: center;
}

/* footer */
.footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 30px;
    gap: 10px;
}
.footer .column{
    width: 100%;    
}
.footer .column p{
    width: 50%;
    font-weight: 200;
    font-size: small;    
}

/*=== Catalog detail page === */

/* Hero */

.hero{
    position: relative;
    color: white;
}
.hero #bg-hero{
    width: 100%;
    height: 700px;
    overflow: hidden; 
}
.hero #bg-hero img{
    object-fit: cover; 
    display: block; 
    width: 100%;
    height: 100%;
}
.containt-hero{
    padding: 5%;
    top: 0;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    z-index: 10;
    width: 100%;
    height: 100%;
}
.containt-hero .img-hero{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containt-hero img{
    object-fit: cover; 
    display: block; 
    width: 350px;
    height: auto;
}
.containt-hero .desc-hero{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.containt-hero .desc-hero h1{
    font-size: 50px;
}
.desc-hero #desc-1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.desc-hero #desc-1 p{
    margin: 0;
}
.desc-hero .notes{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.desc-hero .notes .note{
    border: 1px solid white;
    padding: 5px;
}

/* image product */
.image-product{
    margin-top: 10px;
} 
.img-product img{
    width: 100%;
    height: 100%;
     object-fit: cover; 
    display: block; 
}
.img-product{
    width: 100%;
    height: 100%;
}
#img-product{
    width: 300px !important;
    height: 300px !important;
}
#img-product-content{
    height: 100% !important;
    position: relative;
}

/* product desc */
.product-detail-desc{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 50px;
    width: 100%;
    height: 100%;
    padding: 20px;
}
.product-detail-desc h2{
    text-align: center;
    font-weight: bold;
}
.product-detail-desc .description{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.product-detail-desc .description div{
    width: 100%;
    height: 100%;
    padding: 10px;
}
.product-detail-desc .description .desc-notes{
    border-left: 1px solid black;
    border-right: 1px solid black;
}

/* marketpalce */
.marketplace-product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 30px;
}
.marketplace-product .online{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
}

.marketplace-product .online .marketpalces{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 30px;
    width: 100%;
}
.marketplace-product .online .marketpalce{
    border: 1px solid black;
    padding: 5px;
    width: 100%;
    border-radius: 10px;
}
.marketplace-product .online .marketpalce:hover{
    border: 1px solid transparent;
    background-color: black;
    color: white;
    cursor: pointer;
}


@media (max-width: 950px) {
    body{
        margin: 0;
        padding-top: 45px;
    }
    /* BANNER */
    .card-desc{
        position:static;
        margin-top: 0;
        margin-left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.3); 
    }
    .desc{
        position: absolute;
        bottom: 20px;
        display: flex;
        justify-content: center;
        padding: 0 5% 0 5%;

    }
    .desc p{
        font-size: small;
    }
    .banner{
        position: relative;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column-reverse;
    }
    .img-banner video{
        width: 100%;
        height: 100%;
        object-fit: cover; 
        display: block; 
    }
    .img-banner{
        height: 100%;
    }

    /* END BANNER */

    /* ABOUT */
    .about{
        width: 100%;
        padding:60px 0 60px 0 ;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 50px;
    }     
    #about-img{
        padding: 0;
        width: 100%;
        height: auto    ;
        /* height: 450px; */
        border-radius: 0;
    } 
    #about-img img{
        width: 100%;
        height: 360px;
        border-radius: 0;
    }
    
    /* END ABOUT */

    /* Article home */
    #article-home .top{
        flex-direction: column-reverse;
    }
    #article-home .buttom{
        display: none;
    /* END */
    }
}


@media (max-width: 650px) {
    /* NABAR */
    .container-fluid{
        display: flex;
        flex-direction: row;
    }
    #container-navbar{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    #logo-mobile {
        display: block;
        width: 25%;
        height: auto;
    }
    #menu {
        padding: 0;
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    #logo{
        display: none;
    }
    #contact{
        /* display: flex;
        justify-content: center;
        padding: 0; */
        display: none;
    }

    /* END NAVBAR */

    /* Banner */
    .img-banner{
        background-color: rgb(156, 156, 156);
        width: 100%;
        height: 100%;
    }

    /* ABOUT */
    .about{
        display: none;
        width: 100%;
        padding:60px 0 60px 0 ;
        /* display: flex; */
        flex-direction: column;
        justify-content: space-around;
    }     
    #about-img img{
        width: 100%;
        height: 350px;
        border-radius: 0;

    } 

    /* article */
    #article-home{
        flex-direction: column;
    }
    #article-home img{
        width: 100%;
        height: 450px;
        border-radius: 0;
    } 
    #article-home #column #desc{
        padding: 10%;
    }
    #article-home .top{
        display: flex;
        flex-direction: column-reverse;
    }
    #article-home .buttom{
        display: none;
    }
    #article-home p{
        width: 100%;

    }
    #article-home h1{
        width: 100%;
    }
    /* product */
    .product-home{
        margin: 100px 0 100px 0;
    }
    .product-home h1{
        width: 100%;
    }
    .card-product .desc{
        visibility: visible;
        opacity: 1;
    }
    /* footer */
    .footer{
        flex-direction: column;
    }
    .footer p{
        font-size: smaller;
    }
    .footer h4{
        font-size: small;
    }
    .footer h6{
        font-size: small;
    }

    /* hero product */
    .hero #bg-hero{
        height: 120vb;
    }
    .containt-hero{
        flex-direction: column;
    }
    .containt-hero img{
        object-fit: cover; 
        display: block; 
        width: 200px;
        height: auto;
    }
    /* img product */
    #img-product{
        width: 200px !important;
        height: 200px !important;
    }

    /* description product detail */
    .product-detail-desc .description{
        flex-direction: column;
    }
    .product-detail-desc .description .desc-notes{
        border-left: 0px solid black;
        border-right: 0px solid black;
        border-top: 1px solid black;        border-bottom: 1px solid black;
    }

    /* marketplace product */
    .marketplace-product .online .marketpalces{
        flex-direction: column;
    }
}
.card-wrapper{
    display: flex;
    gap: 5px;
    width: 400px !important;
    height: auto !important;
}
.swiper-slide{
    margin: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    display: flex !important;
}
.swiper-wrapper{
    justify-content:space-between;
}



.slide-container{
  /* max-width: 1120px; */
  width: 100%;
  padding: 40px 0;
}
.slide-content{
  margin: 0 40px;
  overflow: hidden;
}
.card{
  border-radius: 25px;
  background-color: #FFF;
}
.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.image-content{
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}
.overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #4070F4;
  border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #4070F4;
}
.overlay::after{
  border-radius: 0 25px 0 0;
  background-color: #FFF;
}
.card-image{
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #FFF;
  padding: 3px;
}
.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #4070F4;
}
.name{
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.description{
  font-size: 14px;
  color: #707070;
  text-align: center;
}
.button{
  border: none;
  font-size: 16px;
  color: #FFF;
  padding: 8px 16px;
  background-color: #4070F4;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover{
  background: #265DF2;
}
.swiper-navBtn{
  color: #6E93f7;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover{
  color: #4070F4;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 35px;
}
.swiper-button-next{
  right: 0;
}
.swiper-button-prev{
  left: 0;
}
.swiper-pagination-bullet{
  background-color: #6E93f7;
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background-color: #4070F4;
}
@media screen and (max-width: 768px) {
  .slide-content{
    margin: 0;
  }
  .swiper-navBtn{
    display: none;
  }
}

/* * Popup background */ 
.popup {
    display: none; 
    position: absolute;
    z-index: 1000;
    left: 0;
    top: 600px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    justify-content: center;
    align-items: center;
}

/* Gambar di popup */
.popup img {
    max-width: 90%;
    max-height: 80%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255,255,255,0.5);
    animation: zoomIn 0.3s;
}
.close {
      position: absolute;
      top: 20px;
      right: 30px;
      color: white;
      font-size: 35px;
      font-weight: bold;
      cursor: pointer;
    }
@keyframes zoomIn {
    from {transform: scale(0.7);}
    to {transform: scale(1);}
}
